{{> head}}

    {{> navbar}}

<div class="row">

    <div class="col-8">
        <h1>
            Rosas Rojas {{capitalizar nombre}}
        </h1>

        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet quos aliquam quo cumque odio iure, natus nesciunt magnam quaerat incidunt doloremque aut recusandae dignissimos. Est aperiam quis hic fugit inventore!
        </p>
    </div>

    <div class="col-4">
        <img src="assets/img/rosas rojas logo.PNG" class="img-thumbnail" alt="img">
    </div>

</div>

{{> footer}}